[Unit]
Description=car
DefaultDependencies=no

After=vgauth.service
After=apparmor.service

After=systemd-remount-fs.service systemd-tmpfiles-setup.service systemd-modules-load.service

[Service]
ExecStart=python3.11 /home/user/code/Phytium-Car-STM32-Arm/color_detect.py
ExecStop=python3.11 /home/user/code/Phytium-Car-STM32-Arm/car_stop.py
#/home/user/code/Phytium-Car-STM32-Arm/car.sh
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
